/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 19, 2023, 1:52:41 PM
    Author     : ADMIN
*/

.header {
    background-color: rgba(242, 242, 242, 1);
    
}

.header a {
    text-decoration: none;
}